-# locals: f
= f.input :placeholder, label: "Placeholder page",
  hint: "Placeholders are content not yet ready for public viewing but the page name is visible in menus",
  as: :boolean, boolean_style: :inline