%aside.sidebar
  %h2 Related news
  %ul
    %li
      %a{:href => "#"}
        A related article here
    %li
      %a{:href => "#"}
        A related article here
    %li
      %a{:href => "#"}
        A related article here
