- if related_ministers.present?
  %h2 Our ministers
  %ul.list-horizontal
    - related_ministers.each do |minister|
      - id = "minister-summary-#{minister.name.parameterize}"
      %li
        %figure
          %img{src: minister.image_url, alt: '', 'aria-labelledBy' => id}
        %article
          %h3
            =link_to(minister.name, public_node_path(minister.home_node))
          %p{id: id}
            %strong
              = minister.summary
