- breadcrumb :public_node, node

%h1
  =node.name

- if node.release_date
  %p
    Release Date:
    = node.release_date

= render partial: 'templates/content_body', object: node.content_body

%p
  =@hierarchy