%article#content{class: "content-main", tabindex: "-1"}
  - breadcrumb :public_node, node

  %h1
    =node.name

  = render partial: 'templates/content_body', object: node.content_body

  %p
    =@hierarchy
