- breadcrumb :public_node, node

%article.content-listing#content{tabindex: -1}

  %section.home-category-list
    %h2
      Information and services

      %ul.list-vertical--thirds.real-list
        - @categories.each do |category|
          %li
            %article
              %h3
                = link_to(category.name, category_path(category.slug))
              %p
                = category.short_summary

  %section.government-links
    %h2
      Entry points
    .federal-government
      %h3.home-heading.small Australian Government
      %ul.list-horizontal
        %li.ausgov
          %span.image
          %article
            %h3
              %a{href: 'http://www.australia.gov.au/'} www.australia.gov.au
            %p Entry point for people to find Australian Government information.
        %li.busgov
          %span.image
          %article
            %h3
              %a{href: 'https://www.business.gov.au/'} www.business.gov.au
            %p Helps businesses to find all the information and tools they need from government.
        %li.mygov
          %span.image
          %article
            %h3
              %a{href: 'https://my.gov.au/'} my.gov.au
            %p Lets you link a range of Australian Government services, all in one place.
    .state-government
      %h3.home-heading.small State and territory governments
      %ul.list-vertical
        %li.nsw
          %span.image
          %article
            %h3.state-title New South Wales
            %a{href: 'https://www.nsw.gov.au/'} www.nsw.gov.au
        %li.vic
          %span.image
          %article
            %h3.state-title Victoria
            %a{href: 'http://www.vic.gov.au/'} www.vic.gov.au
        %li.qld
          %span.image
          %article
            %h3.state-title Queensland
            %a{href: 'http://www.qld.gov.au/'} www.qld.gov.au
        %li.sa
          %span.image
          %article
            %h3.state-title South Australia
            %a{href: 'http://www.sa.gov.au/'} www.sa.gov.au
        %li.wa
          %span.image
          %article
            %h3.state-title Western Australia
            %a{href: 'https://www.wa.gov.au/'} www.wa.gov.au
        %li.tas
          %span.image
          %article
            %h3.state-title Tasmania
            %a{href: 'http://www.tas.gov.au/'} www.tas.gov.au
        %li.nt
          %span.image
          %article
            %h3.state-title Northern Territory
            %a{href: 'https://nt.gov.au/'} www.nt.gov.au
        %li.act
          %span.image
          %article
            %h3.state-title Australian Capital Territory
            %a{href: 'http://www.act.gov.au/'} www.act.gov.au
  %section.local-government
    %h3.home-heading.small Local government
    %p
      The six states and the Northern Territory have established one further
      level of Government. Local government (also known as city, shire, town or
      municipal councils) handle community needs like waste collection, public
      recreation facilities and town planning.
    %p
      The
      %strong
        %a{href: 'http://alga.asn.au/'}Australian Local Government Association
      is the national voice of local government, representing 560 councils
      across the country. State local government directories provide links to
      local council sites:

    %ul
      %li
        %a{href: 'https://www.olg.nsw.gov.au/local-government-directory'} New South Wales local government directory
      %li
        %a{href: 'https://dlgcs.nt.gov.au/'} Northern Territory local government directory
      %li
        %a{href: 'http://www.dilgp.qld.gov.au/local-government-directory/'} Queensland local government directory
      %li
        %a{href: 'http://www.lga.sa.gov.au/councils'} South Australia local government directory
      %li
        %a{href: 'http://www.dpac.tas.gov.au/divisions/local_government/local_government_directory'} Tasmania local government directory
      %li
        %a{href: 'http://www.dtpli.vic.gov.au/local-government'} Victoria local government directory
      %li
        %a{href: 'http://walga.asn.au/About-Local-Government/LG-Directory.aspx'} Western Australia local government directory

  %section.home-news-list
    %h2 News
    - if @news.empty?
      %p No current news articles
    %ul.list-vertical--fourths
      - @news.all.each do |news|
        %li
          %article
            %h3= link_to news.name, public_node_path(news)
            .meta= l(news.release_date, format: :news)
    =link_to 'All news', news_articles_path, :class => "see-more"
