- if @editor == 'simple'
  :javascript
    $('#node_content_body').after('<div id="editor-preview" class="content-block" style="display: none;"></div>');

    function previewMarkdown(){
      var text = $('#node_content_body')[0].value,
        target = $('#editor-preview')[0],
        converter = new showdown.Converter({tables: true}),
        html = converter.makeHtml(text);

        target.innerHTML = html;
      if(text != ""){
        $(target).css('display', 'block');
      } else {
        $(target).css('display', 'none');
      }
    };
    $('#node_content_body').keyup(previewMarkdown);
    previewMarkdown();




- if @editor == 'simplemde'
  %script
    var simplemde = new SimpleMDE();
    $('form').submit(function(event) {simplemde.element.value = simplemde.value();});

- if @editor == 'trum'
  %script
    $('#node_content_body').after('<div id="editor"></div>');
    $('#editor').trumbowyg({svgPath: "#{image_path 'icons.svg'}", removeformatPasted: true});
    $('#node_content_body').css({'display': 'none'});
    $('#editor').trumbowyg('html', document.getElementById('node_content_body').value);
    $('form').submit(function(event) {document.getElementById('node_content_body').value = $('#editor').trumbowyg('html');});

- if @editor == 'editormd'
  :javascript
    $('#node_content_body').wrap('<div id="editormd"></div>');
    $('#node_content_body').css({'display': 'none'});
    var editor_md = editormd("editormd",{
      path : '/assets/editor.md/lib/',
      placeholder: "Start typing here...",
      toolbarIcons : function() {
        return [
          "undo",
          "redo",
          "|",
          "bold",
          "italic",
          "quote",
          "uppercase",
          "lowercase",
          "|",
          "h1",
          "h2",
          "h3",
          "h4",
          "|",
          "list-ul",
          "list-ol",
          "hr",
          "|",
          "link",
          "image",
          "||",
          "watch",
          "fullscreen"
          ];
        }
      });
    $('form').submit(function(event) {editor_md.element.value = editor_md.getMarkdown();});

