- if @node
  - unless @editor == 'simplemde'
    = link_to 'Try SimpleMDE editor', '?editor=simplemde'

  - unless @editor == 'trum'
    = link_to 'Try Trumbowyg editor', '?editor=trum'

  - unless @editor == 'editormd'
    = link_to 'Try Editor.md editor', '?editor=editormd'

  - unless @editor.nil?
    = link_to 'Use default editor', edit_editorial_section_node_path(@section, @node)
