- breadcrumb :editorial_section, @section

%h1
  All pages in #{@section.name}

-@nodes.each do |node|
  %div
    %span= node.name
    %span
      %strong= node.state
    %span= l(node.updated_at)
    %span
      =link_to 'View', editorial_section_node_path(node.section, node)
    -if node.state.draft?
      %span
        =link_to 'Edit', edit_editorial_section_node_path(node.section, node)
    %span
      -if node.state.published?
        =link_to 'View on website',                            |
          public_node_path(node), target: 'GOVAU_PREVIEW'                              |
      -else
        =link_to 'Preview', previews_path(token: node.token), target: '_blank'
