%h1
  All pages in #{@section.name}

-@nodes.each do |node|
  %div
    %a{href: nodes_path(section: @section.slug, path: node.path)}
      %span= node.name
      %span= node.state
      %span= node.updated_at
