- breadcrumb :new_editorial_node, @section, @parent, @type

%h1
  Create a new #{@form.model.decorate.type_display_name} page

= render partial: 'form', locals: {verb: "Create", url: editorial_section_nodes_path(@section) }
