- breadcrumb :editorial_section, @section

%h1 Pages

-if @section.home_node
  %nav.page-controls
    %a.badge--default{href: public_node_path(@section.home_node)}
      %i.fa.fa-level-up
      View published section

- if can? :create_in, @section
  %p= link_to 'Add Page', prepare_editorial_section_nodes_path(@section)


%table.content-table
  %thead
    %tr
      %td Title
      %td Type
      %td Status
      %td Author(s)
      %td Action
  %tbody
    - @section.nodes.order(updated_at: :desc).each do |page|
      %tr
        %td
          =link_to page.name, editorial_section_node_path(@section, page.id)
        %td #{page.type}
        %td #{page.state}
        %td Author
        - if can? :manage, page
          %td= link_to 'Edit', new_editorial_section_submission_path(@section, node_id: page.id)
        - else
          %td -
