- breadcrumb :editorial_root

%h2 Editorial


%ul
  - @sections.each do |section|
    %li
      = link_to(section.name, editorial_section_path(section: section))
      - if can? :create_in, section
        =link_to('Create new page', prepare_editorial_nodes_path(section: section.id))
