- breadcrumb :departments

%h1
  Departments
%ul
  - departments.each do |department|
    %li
      = link_to(department.name, nodes_path(path: department.root_node.path))
      - if department.agencies.any?
        %ul
          - department.agencies.each do |agency|
            %li= link_to(agency.name, nodes_path(path: agency.root_node.path))
