- ancestors = @node.self_and_ancestors.reverse
%aside.sidebar
  - if @root_node
    %nav.primary-nav{'aria-label' => 'main navigation'}
      %ul
        - @root_node.children.each do |child|
          %li
            %a{href: node_path(child)}= child.name
          = render partial: 'sub_nav',  locals: {ancestors: ancestors, node: child} 
