<%- breadcrumb :public_node, node %>

<h1>Daylight saving and time zones</h1>

<p class="abstract--dates">What state or territory are you in?</p>

<nav class="inline-tab-nav">
<h2>View by:</h2>
<ul>
<li><a href="/times-and-dates/australian-daylight-saving/new-south-wales"><span class="is-visuallyhidden">View by </span>NSW</a></li>
<li><a href="/times-and-dates/australian-daylight-saving/victoria"><span class="is-visuallyhidden">View by </span>Vic.</a></li>
<li><a href="/times-and-dates/australian-daylight-saving/queensland"><span class="is-visuallyhidden">View by </span>Qld</a></li>
<li><a href="/times-and-dates/australian-daylight-saving/south-australia"><span class="is-visuallyhidden">View by </span>SA</a></li>
<li><a href="/times-and-dates/australian-daylight-saving/western-australia" class="is-current"><span class="is-visuallyhidden">View by </span>WA</a></li>
<li><a href="/times-and-dates/australian-daylight-saving/tasmania"><span class="is-visuallyhidden">View by </span>Tas.</a></li>
<li><a href="/times-and-dates/australian-daylight-saving/northern-territory"><span class="is-visuallyhidden">View by </span>NT</a></li>
<li><a href="/times-and-dates/australian-daylight-saving/australian-capital-territory"><span class="is-visuallyhidden">View by </span>ACT</a></li>
</ul>
</nav>


<div class="callout--calendar-event">
  <span class="event-name">Western Australia does not observe daylight saving.</span>
  <p></p>
  <p>Daylight saving is not observed in the Northern Territory, Queensland or Western Australia.</p>
  <p>Daylight saving is observed in the Australian Capital Territory, New South Wales, South Australia, Tasmania and Victoria.</p>
</div>

<h2>Time zones</h2>

<p>Western Australia is currently in Australian Western Standard Time (AWST).</p>

<h3>Time zones in other states and territories</h3>

<ul class="list-horizontal basic">

  <li>
    <article>
      <h4>
        Australian Capital Territory
      </h4>
      <p>Currently in Australian Eastern Standard Time (AEST) <span>2 hours ahead of Western Australia</span></p>
    </article>
  </li>

  <li>
    <article>
      <h4>
        New South Wales (except Broken Hill)
      </h4>
      <p>Currently in Australian Eastern Standard time (AEST) <span>2 hours ahead of Western Australia</span></p>
    </article>
  </li>

  <li>
    <article>
      <h4>
        Northern Territory
      </h4>
      <p>Currently in Australian Central Standard Time (ACST) <span>1.5 hours ahead of Western Australia</span></p>
    </article>
  </li>

  <li>
    <article>
      <h4>
        Queensland
      </h4>
      <p>Currently in Australian Eastern Standard time (AEST) <span>2 hours ahead of Western Australia</span></p>
    </article>
  </li>

  <li>
    <article>
      <h4>
        South Australia (and Broken Hill, NSW)
      </h4>
      <p>Currently in Australian Central Standard Time (ACST) <span>1.5 hours ahead of Western Australia</span></p>
    </article>
  </li>

  <li>
    <article>
      <h4>
        Tasmania
      </h4>
      <p>Currently in Australian Eastern Standard time (AEST) <span>2 hours ahead of Western Australia</span></p>
    </article>
  </li>

  <li>
    <article>
      <h4>
        Victoria
      </h4>
      <p>Currently in Australian Eastern Standard Time (AEST) <span>2 hours ahead of Western Australia</span></p>
    </article>
  </li>


</ul>
