<article class="content-main" id="content" role="main">

<h1>Daylight saving and time zones</h1>

<p class="abstract">What state or territory are you in?</p>

<div class="sort-container">
<span>View by:</span>
<ul class="news-sort-tabs">
<li><a href="#">NSW</a></li>
<li><a href="#">Vic.</a></li>
<li><a href="/times-and-dates/australian-daylight-saving/queensland" class="active">Qld</a></li>
<li><a href="#">SA</a></li>
<li><a href="#">WA</a></li>
<li><a href="/times-and-dates/australian-daylight-saving/tasmania">Tas.</a></li>
<li><a href="#">NT</a></li>
<li><a href="#">ACT</a></li>
</ul>
</div>

<div class="callout--basic">
<h2 class="callout-title">Queensland does not observe daylight saving.</h2>
<p>Daylight saving is not observed in the Northern Territory, Queensland or Western Australia.</p>
<p>Daylight saving is observed in the Australian Capital Territory, New South Wales, South Australia, Tasmania and Victoria.</p>
</div>

<h2>Time zones</h2>

<p>Queensland is currently in Australian Eastern Standard Time (AEST)</p>

<h3>Time zones in other states and territories</h3>

<ul class="list-horizontal basic">

  <li>
    <article>
      <h4>
        Australian Capital Territory
      </h4>
      <p>Currently in Australian Eastern Standard Time (AEST) <span>Same time as Queensland</span></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        New South Wales (except Broken Hill)
      </h3>
      <p>Currently in Australian Eastern Standard time (AEST) <span>Same time as Queensland</span></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Northern Territory
      </h3>
      <p>Currently in Australian Central Standard Time (ACST) <span>Half an hour behind Queensland</span></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Queensland
      </h3>
      <p>Currently in Australian Eastern Standard time (AEST) <span>Same time as Queensland</span></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        South Australia (and Broken Hill, NSW)
      </h3>
      <p>Currently in Australian Central Standard Time (ACST) <span>Half an hour behind Queensland</span></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Victoria
      </h3>
      <p>Currently in Australian Eastern Standard Time (AEST) <span>Same time as Queensland</span></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Western Australia
      </h3>
      <p>Currently in Australian Western Standard Time (AWST) <span>Two hours behind Queensland</span></p>
    </article>
  </li>

</ul>

</article>
