<article class="content-main" id="content" role="main">

  <h1>Australian Public holidays</h1>

  <p class="abstract no-border">What state or territory are you in?</p>

  <div class="sort-container">
  <span>View by:</span>
  <ul class="news-sort-tabs">
  <li><a href="#">NSW</a></li>
  <li><a href="#">Vic.</a></li>
  <li><a href="/times-and-dates/australian-public-holidays/queensland" class="active">Qld</a></li>
  <li><a href="#">SA</a></li>
  <li><a href="#">WA</a></li>
  <li><a href="/times-and-dates/australian-public-holidays/tasmania">Tas.</a></li>
  <li><a href="#">NT</a></li>
  <li><a href="#">ACT</a></li>
  </ul>
  </div>

  <section class="callout--calendar-event">
  <h2 class="next-event">The next public holiday is:</h2>
  <p><time class="holiday-date" datetime="">Monday 3rd October </time><span class="event-name">Queen's Birthday</span></p>
  </section>

  <table class="calendar-table">

  <caption>2016 public holidays</caption>

    <tr>
      <th scope="row">
        <time datetime="2016-01-01T08:00:00+10:00">Friday <span>1</span> January</time>
      </th>
      <td>New Year's Day</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2016-01-26T08:00:00+10:00">Tuesday <span>26</span> January</time>
      </th>
      <td>Australia Day</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2016-03-25T08:00:00+10:00">Friday <span>25</span> March</time>
      </th>
      <td>Good Friday</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2016-03-26T08:00:00+10:00">Friday <span>26</span> March</time>
      </th>
      <td>Easter Saturday</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2016-03-28T08:00:00+10:00">Monday <span>28</span> March</time>
      </th>
      <td>Easter Monday</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2016-04-25T08:00:00+10:00">Monday <span>25</span> April</time>
      </th>
      <td>Anzac Day</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2016-05-02T08:00:00+10:00">Monday <span>2</span> May</time>
      </th>
      <td>Labour Day</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2016-08-10T08:00:00+10:00">Wednesday <span>10</span> August</time>
      </th>
      <td>Royal Queensland Show <span class="date-info">Only in the Brisbane area.</span></td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2016-10-03T08:00:00+10:00">Monday <span>3</span> October</time>
      </th>
      <td>Queen's Birthday</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2016-12-25T08:00:00+10:00">Sunday <span>25</span> December</time>
      </th>
      <td>Christmas Day</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2016-04-26T08:00:00+10:00">Monday <span>26</span> December</time>
      </th>
      <td>Boxing Day</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2016-04-27T08:00:00+10:00">Tuesday <span>27</span> December</time>
      </th>
      <td>Christmas Day holiday <span class="date-info">Christmas Day falls on a Sunday, so this is also a public holiday.</span></td>
    </tr>

  </table>

  <table class="calendar-table">

    <caption>2017 public holidays</caption>

    <tr>
      <th scope="row">
        <time datetime="2017-01-01T08:00:00+10:00">Sunday <span>1</span> January</time>
      </th>
      <td>New Year's Day</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2017-01-02T08:00:00+10:00">Monday <span>2</span> January</time>
      </th>
      <td>New Year's Day public holiday <span class="date-info">New Year's Day falls on a Sunday, so this is also a public holiday.</span></td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2017-01-26T08:00:00+10:00">Thursday <span>26</span> January</time>
      </th>
      <td>Australia Day</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2017-04-14T08:00:00+10:00">Friday <span>14</span> April</time>
      </th>
      <td>Good Friday</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2017-04-15T08:00:00+10:00">Saturday <span>15</span> April</time>
      </th>
      <td>Easter Saturday</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2017-04-17T08:00:00+10:00">Monday <span>17</span> April</time>
      </th>
      <td>Easter Monday</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2017-04-25T08:00:00+10:00">Tuesday <span>25</span> April</time>
      </th>
      <td>Anzac Day</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2017-05-01T08:00:00+10:00">Tuesday <span>1</span> May</time>
      </th>
      <td>Labour Day</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2017-10-02T08:00:00+10:00">Monday <span>2</span> October</time>
      </th>
      <td>Queen's Birthday</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2017-12-25T08:00:00+10:00">Monday <span>25</span> December</time>
      </th>
      <td>Christmas Day</td>
    </tr>

    <tr>
      <th scope="row">
        <time datetime="2017-12-26T08:00:00+10:00">Tuesday <span>26</span> December</time>
      </th>
      <td>Boxing Day</td>
    </tr>

  </table>

</article>
