<article class="content-main" id="content" role="main">

<h1>Australian Public holidays</h1>

<p class="abstract">What state or territory are you in?</p>

<div class="sort-container">
<span>View by:</span>
<ul class="news-sort-tabs">
<li><a href="#">NSW</a></li>
<li><a href="#">Vic.</a></li>
<li><a href="/times-and-dates/australian-public-holidays/queensland">Qld</a></li>
<li><a href="#">SA</a></li>
<li><a href="#">WA</a></li>
<li><a href="/times-and-dates/australian-public-holidays/tasmania" class="active">Tas.</a></li>
<li><a href="#">NT</a></li>
<li><a href="#">ACT</a></li>
</ul>
</div>

<section class="callout--calendar-event">
<h2 class="next-event">The next public holiday is:</h2>
<p><time datetime="2016-12-25T08:00:00+10:00">Sunday 25 December </time><span class="event-name">Christmas day</span></p>
</section>

<table class="calendar-table">

<caption>2016 public holidays</caption>

  <tr>
    <th scope="row">
      <time datetime="2016-01-01T08:00:00+10:00">Friday <span>1</span> January</time>
    </th>
    <td>New Year's Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-01-06T08:00:00+10:00">Wednesday <span>6</span> January</time>
    </th>
    <td>Devonport Cup <span class="date-info">From 11:00 am in Devonport</span></td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-01-26T08:00:00+10:00">Tuesday <span>26</span> January</time>
    </th>
    <td>Australia Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-02-08T08:00:00+10:00">Monday <span>8</span> February</time>
    </th>
    <td>Royal Hobart Regatta <span class="date-info">Only in Hobart, Oatlands and Swansea.</span></td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-03-14T08:00:00+10:00">Monday <span>14</span> March</time>
      </th>
    <td>Eight Hours Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-03-25T08:00:00+10:00">Friday <span>25</span> March</time>
    </th>
    <td>Good Friday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-03-28T08:00:00+10:00">Monday <span>28</span> March</time>
    </th>
    <td>Easter Monday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-03-29T08:00:00+10:00">Tuesday <span>29</span> March</time>
    </th>
    <td>Easter Tuesday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-04-25T08:00:00+10:00">Monday <span>25</span> April</time>
    </th>
    <td>Anzac Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-06-13T08:00:00+10:00">Monday <span>13</span> June</time>
    </th>
    <td>Queen's Birthday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-12-25T08:00:00+10:00">Sunday <span>25</span> December</time>
    </th>
    <td>Christmas Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-04-26T08:00:00+10:00">Monday <span>26</span> December</time>
    </th>
    <td>Boxing Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-04-27T08:00:00+10:00">Tuesday <span>27</span> December</time>
    </th>
    <td>Christmas Day holiday <span class="date-info">Christmas Day falls on a Sunday, so this is also a public holiday.</span></td>
  </tr>

</table>

<table class="calendar-table">

  <caption>2017 public holidays</caption>

  <tr>
    <th scope="row">
      <time datetime="2017-01-01T08:00:00+10:00">Sunday <span>1</span> January</time>
    </th>
    <td>New Year's Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-01-02T08:00:00+10:00">Monday <span>2</span> January</time>
    </th>
    <td>New Year's Day public holiday <span class="date-info">New Year's Day falls on a Sunday, so this is also a public holiday.</span></td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-01-11T08:00:00+10:00">Wednesday <span>11</span> January</time>
    </th>
    <td>Devonport Cup <span class="date-info">From 11:00 am in Devonport</span></td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-01-26T08:00:00+10:00">Thursday <span>26</span> January</time>
    </th>
    <td>Australia Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-02-13T08:00:00+10:00">Monday <span>13</span> February</time>
    </th>
    <td>Royal Hobart Regatta <span class="date-info">Only in Hobart, Oatlands and Swansea.</span></td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-02-22T08:00:00+10:00">Wednesday <span>22</span> February</time>
    </th>
    <td>Launceston Cup <span class="date-info">All day in Break O'Day, Dorset, George Town, Glamorgan Spring Bay (north of) and Cranbrook.<br>From 11:00am in Launceston City centre and other suburbs and towns. </span></td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-03-07T08:00:00+10:00">Tuesday <span>7</span> March</time>
    </th>
    <td>King Island Show <span class="date-info">Only on King Island.</span></td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-03-13T08:00:00+10:00">Monday <span>13</span> March</time>
    </th>
    <td>Eight Hours Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-04-14T08:00:00+10:00">Friday <span>14</span> April</time>
    </th>
    <td>Good Friday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-04-17T08:00:00+10:00">Monday <span>17</span> April</time>
    </th>
    <td>Easter Monday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-04-18T08:00:00+10:00">Tuesday <span>18</span> April</time>
    </th>
    <td>Easter Tuesday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-04-25T08:00:00+10:00">Tuesday <span>25</span> April</time>
    </th>
    <td>Anzac Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-06-12T08:00:00+10:00">Monday <span>12</span> June</time>
    </th>
    <td>Queen's Birthday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-10-06T08:00:00+10:00">Friday <span>6</span> October</time>
    </th>
    <td>Burnie Show <span class="date-info">Only in Burnie, Waratah, Wynyard and West Coast.</span></td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-10-12T08:00:00+10:00">Thursday <span>12</span> October</time>
    </th>
    <td>Royal Launceston Show <span class="date-info">Only in Break O'Day, Dorset, George Town, Launceston, Meander Valley, Northern Midlands and West Tamar.</span></td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-10-20T08:00:00+10:00">Friday <span>20</span> October</time>
    </th>
    <td>Flinders Island Show <span class="date-info">Only on Flinders Island.</span></td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-11-06T08:00:00+10:00">Monday <span>6</span> November</time>
    </th>
    <td>Recreation Day <span class="date-info">Only in areas that don’t have a public holiday for the Royal Hobart Regatta.</span></td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-12-01T08:00:00+10:00">Friday <span>1</span> December</time>
    </th>
    <td>Devonport Show <span class="date-info">Only in Devonport, Kentish and Latrobe.</span></td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-12-25T08:00:00+10:00">Monday <span>25</span> December</time>
    </th>
    <td>Christmas Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-12-26T08:00:00+10:00">Tuesday <span>26</span> December</time>
    </th>
    <td>Boxing Day</td>
  </tr>

</table>

</article>
