<% content_for :title do %><%= node.name %><% end %>
<%- breadcrumb :public_node, node %>

<h1>Australian public holidays</h1>

<p class="abstract--dates">What state or territory are you in?</p>

<nav class="inline-tab-nav">
<h2>View by:</h2>
<ul class="news-sort-tabs">
<li><a href="/times-and-dates/australian-public-holidays/new-south-wales" class="is-current"><span class="is-visuallyhidden">View by </span>NSW</a></li>
<li><a href="/times-and-dates/australian-public-holidays/victoria"><span class="is-visuallyhidden">View by </span>Vic.</a></li>
<li><a href="/times-and-dates/australian-public-holidays/queensland"><span class="is-visuallyhidden">View by </span>Qld</a></li>
<li><a href="/times-and-dates/australian-public-holidays/south-australia"><span class="is-visuallyhidden">View by </span>SA</a></li>
<li><a href="/times-and-dates/australian-public-holidays/western-australia"><span class="is-visuallyhidden">View by </span>WA</a></li>
<li><a href="/times-and-dates/australian-public-holidays/tasmania"><span class="is-visuallyhidden">View by </span>Tas.</a></li>
<li><a href="/times-and-dates/australian-public-holidays/northern-territory"><span class="is-visuallyhidden">View by </span>NT</a></li>
<li><a href="/times-and-dates/australian-public-holidays/australian-capital-territory"><span class="is-visuallyhidden">View by </span>ACT</a></li>
</ul>
</nav>

<section class="callout--calendar-event">
<h2 class="next-event">The next public holiday is:</h2>
<p><time datetime="2016-10-03">Monday 3 October </time><span class="event-name">Labour Day</span></p>
</section>

<h2>2016 public holidays</h2>

<table class="calendar-table">
  <tr>
    <th scope="row">
      <time datetime="2016-01-01">Friday <span>1</span> January</time>
    </th>
    <td>New Year's Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-01-26">Tuesday <span>26</span> January</time>
    </th>
    <td>Australia Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-03-25">Friday <span>25</span> March</time>
    </th>
    <td>Good Friday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-03-26">Saturday <span>26</span> March</time>
    </th>
    <td>Easter Saturday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-03-27">Sunday <span>27</span> March</time>
    </th>
    <td>Easter Sunday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-03-28">Monday <span>28</span> March</time>
    </th>
    <td>Easter Monday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-04-25">Monday <span>25</span> April</time>
    </th>
    <td>Anzac Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-06-13">Monday <span>13</span> June</time>
    </th>
    <td>Queen's Birthday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-08-01">Monday <span>1</span> August</time>
    </th>
    <td>Bank Holiday
    <span class="date-info">Applies to banks and certain financial institutions. See the <a href="http://www.legislation.nsw.gov.au/maintop/view/inforce/act+49+2008+cd+0+N">Retail Trading Act 2008</a>.</span>
    </td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-10-03">Monday <span>3</span> October</time>
    </th>
    <td>Labour Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-12-25">Sunday <span>25</span> December</time>
    </th>
    <td>Christmas Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-12-26">Monday <span>26</span> December</time>
    </th>
    <td>Boxing Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-12-27">Tuesday <span>27</span> December</time>
    </th>
    <td>Christmas Day holiday <span class="date-info">Christmas Day falls on a Sunday, so this is also a public holiday.</span></td>
  </tr>

</table>

<h2>2017 public holidays</h2>

<table class="calendar-table">

  <tr>
    <th scope="row">
      <time datetime="2017-01-01">Sunday <span>1</span> January</time>
    </th>
    <td>New Year's Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-01-02">Monday <span>2</span> January</time>
    </th>
    <td>New Year's Day holiday <span class="date-info">New Year's Day falls on a Sunday, so this is also a public holiday.</span></td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-01-26">Thursday <span>26</span> January</time>
    </th>
    <td>Australia Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-04-14">Friday <span>14</span> April</time>
    </th>
    <td>Good Friday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-04-15">Saturday <span>15</span> April</time>
    </th>
    <td>Easter Saturday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-04-16">Sunday <span>16</span> April</time>
    </th>
    <td>Easter Sunday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-04-17">Monday <span>17</span> April</time>
    </th>
    <td>Easter Monday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-04-25">Tuesday <span>25</span> April</time>
    </th>
    <td>Anzac Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-07-12">Monday <span>12</span> June</time>
    </th>
    <td>Queen's Birthday</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2016-08-07">Monday <span>7</span> August</time>
    </th>
    <td>Bank Holiday
    <span class="date-info">Applies to banks and certain financial institutions. See the <a href="http://www.legislation.nsw.gov.au/maintop/view/inforce/act+49+2008+cd+0+N">Retail Trading Act 2008</a>.</span>
    </td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-10-02">Monday <span>2</span> October</time>
    </th>
    <td>Labour Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-12-25">Monday <span>25</span> December</time>
    </th>
    <td>Christmas Day</td>
  </tr>

  <tr>
    <th scope="row">
      <time datetime="2017-12-26">Tuesday <span>26</span> December</time>
    </th>
    <td>Boxing Day</td>
  </tr>

</table>
