<%- breadcrumb :public_node, node %>

<article class="content-main" id="content" role="main">

<h1>School holidays and term dates</h1>

<p class="abstract--dates">What state or territory are you in?</p>

<div class="sort-container">
<span>View by:</span>
<ul class="news-sort-tabs">
<li><a href="/times-and-dates/school-holidays-and-term-dates/new-south-wales">NSW</a></li>
<li><a href="#">Vic.</a></li>
<li><a href="/times-and-dates/school-holidays-and-term-dates/queensland">Qld</a></li>
<li><a href="#">SA</a></li>
<li><a href="#">WA</a></li>
<li><a href="/times-and-dates/school-holidays-and-term-dates/tasmania" class="active">Tas.</a></li>
<li><a href="#">NT</a></li>
<li><a href="/times-and-dates/school-holidays-and-term-dates/australian-capital-territory">ACT</a></li>
</ul>
</div>

<h2>2016</h2>

<ul class="list-horizontal basic">

  <li>
    <article>
      <h3>
        Term 1
      </h3>
      <p><time datetime="2016-02-03">Wednesday 3 February</time> to <time datetime="2016-04-08">Friday 8 April</time> <span>Term 1 includes the Easter break, Friday 25 March to Tuesday 29 March.</span></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Autumn holidays
      </h3>
      <p><time datetime="2016-04-11">Monday 11 April</time> to <time datetime="2016-04-25">Monday 25 April</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 2
      </h3>
      <p><time datetime="2016-04-26">Tuesday 26 April</time> to <time datetime="2016-07-01">Friday 1 July</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Winter holidays
      </h3>
      <p><time datetime="2016-07-04">Monday 4 July</time> to <time datetime="2016-07-15">Friday 15 July</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 3
      </h3>
      <p><time datetime="2016-07-18">Monday 18 July</time> to <time datetime="2016-09-23">Friday 23 September</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Spring holidays
      </h3>
      <p><time datetime="2016-10-26">Monday 26 September</time> to <time datetime="2016-10-07">Friday 7 October</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 4
      </h3>
      <p><time datetime="2016-12-10">Monday 10 October</time> to <time datetime="2016-12-21">Wednesday 21 December</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Summer holidays
      </h3>
      <p><time datetime="2016-12-22">Thursday 22 December 2016</time> to <time datetime="2017-02-07">Tuesday 7 February 2017</time></p>
    </article>
  </li>

</ul>

<h2>2017</h2>

<ul class="list-horizontal basic">

  <li>
    <article>
      <h3>
        Term 1 <span></span>
      </h3>
      <p><time datetime="2017-02-08">Wednesday 8 February</time> to <time datetime="2017-04-13">Thursday 13 April</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Autumn holidays
      </h3>
      <p><time datetime="2017-04-14">Friday 14 April</time> to <time datetime="2017-04-25">Monday 25 April</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 2
      </h3>
      <p><time datetime="2017-05-01">Monday 1 May</time> to <time datetime="2017-07-07">Friday 7 July</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Winter holidays
      </h3>
      <p><time datetime="2017-07-10">Monday 10 July</time> to <time datetime="2017-07-21">Friday 21 July</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 3
      </h3>
      <p><time datetime="2017-07-24">Monday 24 July</time> to <time datetime="2017-09-29">Friday 29 September</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Spring holidays
      </h3>
      <p><time datetime="2017-10-02">Monday 2 October</time> to <time datetime="2017-10-13">Friday 13 October</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 4
      </h3>
      <p><time datetime="2017-10-16">Monday 16 October</time> to <time datetime="2017-12-21">Thursday 21 December</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Summer holidays
      </h3>
      <p><time datetime="2017-12-22">Monday 22 December 2017</time> to <time datetime="2018-02-06">Tuesday 6 February 2018</time> <span>Some student years finish earlier, ask your school for details.</span></p>
    </article>
  </li>

</ul>

</article>
