<% content_for :title do %><%= node.name %><% end %>
<%- breadcrumb :public_node, node %>

<h1>School holidays and term dates</h1>

<p class="abstract--dates">What state or territory are you in?</p>

<div class="sort-container">
<span>View by:</span>
<ul class="news-sort-tabs">
<li><a href="/times-and-dates/school-holidays-and-term-dates/new-south-wales">NSW</a></li>
<li><a href="#">Vic.</a></li>
<li><a href="/times-and-dates/school-holidays-and-term-dates/queensland">Qld</a></li>
<li><a href="#">SA</a></li>
<li><a href="#">WA</a></li>
<li><a href="/times-and-dates/school-holidays-and-term-dates/tasmania">Tas.</a></li>
<li><a href="#">NT</a></li>
<li><a href="/times-and-dates/school-holidays-and-term-dates/australian-capital-territory" class="active">ACT</a></li>
</ul>
</div>

<h2>2016</h2>

<ul class="list-horizontal basic">

  <li>
    <article>
      <h3>
        Term 1
      </h3>
      <p><time datetime="2016-02-01">Monday 1 February</time> to <time datetime="2016-04-08">Friday 8 April</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Autumn holidays
      </h3>
      <p><time datetime="2016-04-11">Monday 11 April</time> to <time datetime="2016-04-22">Friday 22 April</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 2
      </h3>
      <p><time datetime="2016-04-26">Tuesday 26 April</time> to <time datetime="2016-07-1">Friday 1 July</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Winter holidays
      </h3>
      <p><time datetime="2016-07-04">Monday 4 July</time> to <time datetime="2016-07-15">Friday 15 July</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 3
      </h3>
      <p><time datetime="2016-07-18">Monday 18 July</time> to <time datetime="2016-09-23">Friday 23 September</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Spring holidays
      </h3>
      <p><time datetime="2016-09-26">Monday 26 September</time> to <time datetime="2016-10-07">Friday 7 October</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 4
      </h3>
      <p><time datetime="2016-10-10">Monday 10 October</time> to <time datetime="2016-12-16">Friday 16 December</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Summer holidays
      </h3>
      <p><time datetime="2016-12-19">Monday 19 December 2016</time> to <time datetime="2017-01-27">Friday 27 January 2017</time></p>
    </article>
  </li>

</ul>

<h2>2017</h2>

<ul class="list-horizontal basic">

  <li>
    <article>
      <h3>
        Term 1
      </h3>
      <p><time datetime="2017-01-31">Tuesday 31 January</time> to <time datetime="2017-04-7">Friday 7 April</time> <span>New students start on <time datetime="2017-01-30">Monday 30 January</time>.</span> </p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Autumn holidays
      </h3>
      <p><time datetime="2017-04-10">Monday 10 April</time> to <time datetime="2017-04-25">Tuesday 25 April</time> <span>This holiday includes the Easter and Anzac Day.</span></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 2
      </h3>
      <p><time datetime="2017-04-26">Wednesday 26 April</time> to <time datetime="2017-06-30">Friday 30 June</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Winter holidays
      </h3>
      <p><time datetime="2017-07-03">Monday 3 July</time> to <time datetime="2017-07-14">Friday 14 July</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 3
      </h3>
      <p><time datetime="2017-07-17">Monday 17 July</time> to <time datetime="2017-09-22">Friday 22 September</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Spring holidays
      </h3>
      <p><time datetime="2017-09-25">Monday 25 September</time> to <time datetime="2017-10-09">Monday 9 October</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 4
      </h3>
      <p><time datetime="2017-10-09">Tuesday 9 October</time> to <time datetime="2017-12-15">Friday 15 December</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Summer holidays
      </h3>
      <p><time datetime="2017-12-18">Monday 18 December 2017</time> to <time datetime="2018-02-02">Friday 2 February  2018</time></p>
    </article>
  </li>

</ul>

