<% content_for :title do %><%= node.name %><% end %>
<%- breadcrumb :public_node, node %>

<h1>School holidays and term dates</h1>

<p class="abstract--dates">What state or territory are you in?</p>

<nav class="inline-tab-nav">
<h2>View by:</h2>
<ul>
<li><a href="/times-and-dates/school-holidays-and-term-dates/new-south-wales"><span class="is-visuallyhidden">View by </span>NSW</a></li>
<li><a href="/times-and-dates/school-holidays-and-term-dates/victoria"><span class="is-visuallyhidden">View by </span>Vic.</a></li>
<li><a href="/times-and-dates/school-holidays-and-term-dates/queensland"><span class="is-visuallyhidden">View by </span>Qld</a></li>
<li><a href="/times-and-dates/school-holidays-and-term-dates/south-australia"><span class="is-visuallyhidden">View by </span>SA</a></li>
<li><a href="/times-and-dates/school-holidays-and-term-dates/western-australia" class="is-current"><span class="is-visuallyhidden">View by </span>WA</a></li>
<li><a href="/times-and-dates/school-holidays-and-term-dates/tasmania"><span class="is-visuallyhidden">View by </span>Tas.</a></li>
<li><a href="/times-and-dates/school-holidays-and-term-dates/northern-territory"><span class="is-visuallyhidden">View by </span>NT</a></li>
<li><a href="/times-and-dates/school-holidays-and-term-dates/australian-capital-territory"><span class="is-visuallyhidden">View by </span>ACT</a></li>
</ul>
</nav>

<h2>2016</h2>

<ul class="list-horizontal basic">

  <li>
    <article>
      <h3>
        Term 1
      </h3>
      <p><time datetime="2016-02-01">Monday 1 February</time> to <time datetime="2016-04-08">Friday 8 April</time></p>
    </article>
  </li>

  <li class="highlighted-item">
    <article>
      <h3>
        Autumn holidays
      </h3>
      <p><time datetime="2016-04-11">Monday 11 April</time> to <time datetime="2016-04-25">Monday 25 April</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 2
      </h3>
      <p><time datetime="2016-04-26">Tuesday 26 April</time> to <time datetime="2016-07-01">Friday 1 July</time></p>
    </article>
  </li>

  <li class="highlighted-item">
    <article>
      <h3>
        Winter holidays
      </h3>
      <p><time datetime="2016-07-04">Monday 4 July</time> to <time datetime="2016-07-15">Friday 15 July</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 3
      </h3>
      <p><time datetime="2016-07-18">Monday 18 July</time> to <time datetime="2016-09-23">Friday 23 September</time></p>
    </article>
  </li>

  <li class="highlighted-item">
    <article>
      <h3>
        Spring holidays
      </h3>
      <p><time datetime="2016-10-26">Monday 26 September</time> to <time datetime="2016-10-07">Friday 7 October</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 4
      </h3>
      <p><time datetime="2016-12-10">Monday 10 October</time> to <time datetime="2016-12-15">Thursday 15 December</time></p>
    </article>
  </li>

  <li class="highlighted-item">
    <article>
      <h3>
        Summer holidays
      </h3>
      <p><time datetime="2016-12-16">Friday 16 December 2016</time> to <time datetime="2017-01-27">Tuesday 31 January 2017</time></p>
    </article>
  </li>

</ul>

<h2>2017</h2>

<ul class="list-horizontal basic">

  <li>
    <article>
      <h3>
        Term 1 <span></span>
      </h3>
      <p><time datetime="2017-021-01">Wednesday 1 February </time> to <time datetime="2017-04-07">Friday 7 April</time></p>
    </article>
  </li>

  <li class="highlighted-item">
    <article>
      <h3>
        Autumn holidays
      </h3>
      <p><time datetime="2017-04-10">Monday 10 April</time> to <time datetime="2017-04-21">Friday 21 April</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 2
      </h3>
      <p><time datetime="2017-04-24">Monday 24 April</time> to <time datetime="2017-06-30">Friday 30 June</time></p>
    </article>
  </li>

  <li class="highlighted-item">
    <article>
      <h3>
        Winter holidays
      </h3>
      <p><time datetime="2017-07-03">Monday 3 July</time> to <time datetime="2017-07-14">Friday 14 July</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 3
      </h3>
      <p><time datetime="2017-07-17">Monday 17 July</time> to <time datetime="2017-09-22">Friday 22 September</time></p>
    </article>
  </li>

  <li class="highlighted-item">
    <article>
      <h3>
        Spring holidays
      </h3>
      <p><time datetime="2017-09-25">Monday 25 September</time> to <time datetime="2017-10-06">Friday 6 October</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 4
      </h3>
      <p><time datetime="2017-10-09">Monday 9 October</time> to <time datetime="2017-12-14">Thursday 14 December</time></p>
    </article>
  </li>

  <li class="highlighted-item">
    <article>
      <h3>
        Summer holidays
      </h3>
      <p><time datetime="2017-12-15">Friday 15 December 2017</time> to <time datetime="2018-02-06">Tuesday 30 January 2018</time></p>
    </article>
  </li>

</ul>
