<article class="content-main" id="content" role="main">

<h1>School holidays and term dates</h1>

<p class="abstract">What state or territory are you in?</p>

<div class="sort-container">
<span>View by:</span>
<ul class="news-sort-tabs">
<li><a href="#">NSW</a></li>
<li><a href="#">Vic.</a></li>
<li><a href="/times-and-dates/school-holidays-and-term-dates/queensland" class="active">Qld</a></li>
<li><a href="#">SA</a></li>
<li><a href="#">WA</a></li>
<li><a href="/times-and-dates/school-holidays-and-term-dates/tasmania">Tas.</a></li>
<li><a href="#">NT</a></li>
<li><a href="#">ACT</a></li>
</ul>
</div>

<h2>2016</h2>

<ul class="list-horizontal basic">

  <li>
    <article>
      <h3>
        Term 1
      </h3>
      <p><time datetime="2016-01-27T02:00">Wednesday 27 January</time> to <time datetime="2016-03-24T02:00">Thursday 24 March</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Autumn holidays
      </h3>
      <p><time datetime="2016-03-25T02:00">Friday 25 March</time> to <time datetime="2016-04-08T02:00">Friday 8 April</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 2
      </h3>
      <p><time datetime="2016-04-11T02:00">Monday 11 April</time> to <time datetime="2016-06-24T02:00">Friday 24 June</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Winter holidays
      </h3>
      <p><time datetime="2016-06-27T02:00">Monday 27 June</time> to <time datetime="2016-07-08T02:00">Friday 8 July</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 3
      </h3>
      <p><time datetime="2016-07-11T02:00">Monday 11 July</time> to <time datetime="2016-09-16T02:00">Friday 16 September</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Spring holidays
      </h3>
      <p><time datetime="2016-09-19T02:00">Monday 19 September</time> to <time datetime="2016-10-01T02:00">Friday 1 October</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 4
      </h3>
      <p><time datetime="2016-10-04T02:00">Tuesday 4 October</time> to <time datetime="2016-12-09T02:00">Friday 9 December</time> <span>Year 12 students finish Friday 18 November<br>
      Year 10 and 11 students finish Friday 25 November</span></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Summer holidays
      </h3>
      <p><time datetime="2016-12-12T02:00">Monday 12 December 2016</time> to <time datetime="2017-01-21T02:00">Friday 21 January 2017</time> <span>Schools in Far North and Western Queensland start
one week early on Monday 5 December 2016.</span></p>
    </article>
  </li>

</ul>

<h2>2017</h2>

<ul class="list-horizontal basic">

  <li>
    <article>
      <h3>
        Term 1
      </h3>
      <p><time datetime="2017-01-23T02:00">Monday 23 January</time> to <time datetime="2017-03-31T02:00">Friday 31 March</time> <span>Term 1 includes the Easter break, Friday 14 April to Tuesday 18 April.</span></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Autumn holidays
      </h3>
      <p><time datetime="2017-04-03T02:00">Monday 3 April</time> to <time datetime="2017-04-17T02:00">Monday 17 April</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 2
      </h3>
      <p><time datetime="2017-04-18T02:00">Tuesday 18 April</time> to <time datetime="2017-06-23T02:00">Friday 23 June</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Winter holidays
      </h3>
      <p><time datetime="2017-06-26T02:00">Monday 26 June</time> to <time datetime="2017-07-07T02:00">Friday 7 July</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 3
      </h3>
      <p><time datetime="2017-07-10T02:00">Monday 10 July</time> to <time datetime="2017-09-15T02:00">Friday 15 September</time></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Spring holidays
      </h3>
      <p><time datetime="2017-09-18T02:00">Monday 18 September</time> to <time datetime="2017-10-02T02:00">Monday 2 October</time></p>
    </article>
  </li>

  <li>
    <article>
      <h3>
        Term 4
      </h3>
      <p><time datetime="2017-10-03T02:00">Tuesday 3 October</time> to <time datetime="2017-12-08T02:00">Friday 8 December</time> <span>Year 12 students finish Friday 17 November<br>
      Year 10 and 11 students finish Friday 24 November</span></p>
    </article>
  </li>

  <li class="highlighted">
    <article>
      <h3>
        Summer holidays
      </h3>
      <p><time datetime="2017-12-11T02:00">Monday 11 December 2017</time> to <time datetime="2018-01-19T02:00">Friday 19 January 2018</time> <span>Schools in Far North and Western Queensland start
one week early on Monday 4 December 2017.</span></p>
    </article>
  </li>

</ul>

</article>
