= content_for :title do
  The change you wanted was rejected (422)

%article.content-listing.callout--calendar-event
  %h1 The change you wanted was rejected (422)
  %p Maybe you tried to change something you didn't have access to.
  %p If you are the application owner check the logs for more information.