= content_for :title do
  We're sorry, but something went wrong (500)

%article.content-listing.callout--calendar-event
  %h1 We're sorry, but something went wrong (500)
  %p If you are the application owner check the logs for more information.