= content_for :title do
  You are not authorised to access this page (401)

%article.content-main.callout--calendar-event
  %h1 You are not authorised to access this page (401)
  %p If you are the application owner check the logs for more information.

