%table.table-alternating
  %thead
    %tr
      %th Name
      %th Create Date
  %tbody
    - submissions.each do |submission|
      %tr
        %td= link_to "#{submission.revisable.name}", editorial_section_submission_path(submission.section, submission)
        %td #{submission.submitted_at}
