- breadcrumb :editorial_section_submissions, @section
%h1 Submissions

%h2 New Pages

- if @submissions.with_unpublished_node.empty?
  No new pages
- else
  = render partial: 'submissions', locals: {submissions: @submissions.with_unpublished_node.decorate}

%h2 Existing page revisions

- if @submissions.with_published_node.empty?
  No revisions to existing pages
- else
  = render partial: 'submissions', locals: {submissions: @submissions.with_published_node.decorate}
