- breadcrumb :editorial_user_submissions
%h2 Submissions

%h3 New Pages

- if @submissions.with_unpublished_node.empty?
  No new pages
- else
  = render partial: 'submissions', locals: {submissions: @submissions.with_unpublished_node.decorate}

%h3 Existing page revisions

- if @submissions.with_published_node.empty?
  No revisions to existing pages
- else
  = render partial: 'submissions', locals: {submissions: @submissions.with_published_node.decorate}
