.calendar-table {
  width: 100%;
  margin-top: 2 * $base-spacing;

  caption {
    font-size: rem(24);
    font-weight: 700;
    margin: 0 0 $small-spacing;
    text-align: left;
  }

  tr {
    border-bottom: .8 * $tiny-spacing solid $white;
  }

  th {
    color: $aqua;
    display: block;
    padding: $small-spacing $base-spacing;
    text-transform: uppercase;
    width: 100%;

    @include media($mobile) {
      display: table-cell;
      width: 6 * $base-spacing;
    }

    span {
      @extend h2;
      display: block;
      margin: 0;
    }
  }

  td {
    display: block;
    @extend h4;
    margin: 0;
    padding: 0 $base-spacing $small-spacing;
    text-align: center;

    @include media($mobile) {
      border-left: .5 * $tiny-spacing solid $white;
      display: table-cell;
      padding-top: $small-spacing;
      text-align: left;
    }

    .date-info {
      font-size: rem(16);
      display: block;
      font-weight: 300;
      margin-top: 0;
    }
  }

  th,
  td {
    background-color: $background-secondary-colour;
  }
}
