%icon-chevron-down--black {
  @include inline-background-image('chevron-black');
}

details.swiss {
  margin-top: -1px;

  summary {
    background-color: $background-secondary-colour;
    border-bottom: 1px solid $border-colour;
    border-top: 1px solid $border-colour;
    color: $body-text-colour;
    font-size: rem(20);

    &::before {
      @extend %icon-chevron-down--black;
    }
  }

  .accordion-panel {
    border: 0;
    padding-left: 0;
    padding-right: 0;

    @include media($mobile) {
      ul {
        @include span-columns(6 of 9);
        @include shift(3 of 9);
      }
    }
  }
}


//Accordion group open and close buttons
.accordion-group {

  details {
    width: 100%;
  }

  &.disable-close-button  .open-all-accordions,
  &.disable-open-button .close-all-accordions {
    color: $body-text-colour;
    cursor: pointer;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $body-text-colour;
    }

  }

  .open-all-accordions,
  .close-all-accordions {
    background-color: $white;
    border: 0;
    color: $button-bg-colour--disabled;
    cursor: not-allowed;
    float: right;
    font-size: rem(14);
    font-weight: $base-font-weight;
    height: 1.65 * $base-spacing;
    margin: 0 0 $small-spacing $base-spacing;
    padding: 0;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: $white;
      color: $button-bg-colour--disabled;
    }
  }
}
