$black:         #000;
$non-black:     #222;
$grey:          #6e6e6e;
$dark-grey:     darken($grey, 25%);
$light-grey:    lighten($grey, 30%);
$lighter-grey:  lighten($grey, 45%);
$lighterer-grey:  lighten($grey, 51%);
$non-white:     #f0f3f5;
$white:         #fff;

$aqua:          #18788d;
$dark-aqua:     darken($aqua, 5%);
$darker-aqua:   darken($aqua, 10%);
$light-aqua:    lighten($aqua, 30%);
$lighter-aqua:  #ddf2f8;

$navy:          #224a61;
$dark-navy:     darken($navy, 10%);
$light-navy:    #327da9; //lighten($navy, 30%); Changed for WCAG:AA

$red:           #c00;
$light-red:     #f9dede;

$green:         #007554;
$light-green:   #e6efc2;

$yellow:        #f9c642;  //Warning from Alpha
$light-yellow:  #fdf7dc;  //Warning from Alpha

$blue:          #fff;     //Info from Alpha
$light-blue:    #e8f5fa;  //Info from Alpha

$orange:        #fbb03b;

$maroon:        #880e48;
$dark-maroon:   darken($maroon, 5%);
$darker-maroon: darken($maroon, 10%);

// Colour variables

$background-colour:             $white;
$background-contrast-colour:    $lighter-grey;

$link-colour:                   $non-black;

$button-colour:                 $aqua;
$button-colour--hover:          $darker-aqua;
$button-colour--active:         $dark-aqua;
$button-colour--disabled:       $light-grey;

$button-contrast-colour:         $maroon;
$button-contrast-colour--hover:  $darker-maroon;
$button-contrast-colour--active: $dark-maroon;

$button-inverted-colour:        $white;

$button-text-colour:            $white;
$button-inverted-text-colour:   $navy;

$frame-colour:                  $light-grey;
$primary-colour:                $light-navy;
$highlight-colour:              $aqua;
$focus-colour:                  $light-aqua;
$error-colour:                  $red;
$success-colour:                $green;

$border-colour:                 $light-grey;
$border-secondary-colour:       $lighter-grey;
$border-contrast-colour:        $navy;

$body-text-colour:              $black;
$body-secondary-text-colour:    $dark-grey;

$badge-colour-default:          $grey;
$badge-colour-alpha:            $non-black;
$badge-colour-beta:             $maroon;
$badge-colour-error:            $error-colour;
$badge-colour-success:          $green;
