
form {
  legend {
    font-size: 24px;
    font-weight: 700;

    @media (min-width: 768px) {
      font-size: 26px;
    }
  }
  //Hotfix for errors on feedback form
  .error {
    border-bottom: none;
    background: $light-red;
    color: $error-colour;
    display: block;
    padding: 0.3em 0.7em;
  }

  .field_with_errors {
    label {
      color: $error-colour;
    }

    textarea {
      border: 2px solid $error-colour;
    }
  }
}


