
form {
  legend {
    font-size: 24px;
    font-weight: 700;

    @media (min-width: 768px) {
      font-size: 26px;
    }
  }
}

//Hotfix for errors on feedback form
.field_with_errors {

  textarea {
    border: 2px solid $error-colour;
  }

  .error {
    border: 2px solid $error-colour;
    border-bottom: none;
    background: $light-red;
    color: $error-colour;
    display: block;
    padding: 0.3em 0.7em;
  }
}
