$light-teal: #00a1bb;

.home-category-list li {
  border-left: 1px solid $border-colour;
  border-top: 0;
  margin: $base-spacing 0;
  padding: $tiny-spacing $base-spacing;

  @include media($tablet) {
    max-width: ((100% - $list-vertical-gutter * 2) / 3);
  }

  p {
    min-height: 0;
    margin-bottom: $small-spacing;
  }
}

.home-heading {
  border-bottom: 6px solid $light-aqua;
  padding-bottom: $tiny-spacing;

  &.small {
    font-size: rem(24);

    @include media($tablet) {
      font-size: rem(26);
    }
  }
}

//controls column layout
.about-australia {

  @include outer-container;

  .population {
    @include media($tablet) {
      @include span-columns(8 of 12);
    }
  }

  .public-holiday {
    @include media($tablet) {
      @include span-columns(4 of 12);
    }
  }
}

//About Australia section

.population {

  ul {
    text-align: center;
    display: block;
    list-style: none;
    background-color: $background-secondary-colour;
    margin-bottom: 2 * $base-spacing;
    padding: 1.7 * $base-spacing $base-spacing;

    @include media($tablet) {
      display: table;
      width: 100%;
      height: 309px;

      li {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    }

    .population-infographic {
      background: asset-url('home/australia-map.png');
      background-image: none, asset-url('home/australia-map.svg'),
      linear-gradient(transparent, transparent);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      color: $white;
      font-size: rem(32);
      font-weight: $heading-font-weight;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      width: 1%; //I have no idea what I'm doing
      height: 300px;

      @include media($tablet) {
        width: 50%;
        display: table-cell;
        height: auto;
      }
    }

    .population-statistic {
      color: #00a1bb;
      font-weight: $heading-font-weight;
      font-size: rem(26);
      padding-left: 0;

      @include media($tablet) {
        padding-left: $base-spacing;
      }

      strong {
        display: block;
        font-size: rem(62);
        line-height: 1.2;
      }
    }
  }
}

//Calendar thing
.public-holiday {
  a {
    text-decoration: none;
  }
  .next-holiday {
    background-color: $background-secondary-colour;
    margin-bottom: 2 * $base-spacing;
    padding: 2 * $base-spacing $base-spacing;
  }

  .calendar {
    font-weight: $heading-font-weight;
    margin-left: auto;
    margin-right: auto;
    max-width: 240px;
    text-align: center;

    .event-title {
      background-color: #00a1bb;
      color: $white;
      display: block;
      font-size: rem(20);
      font-weight: $heading-font-weight;
      padding: $small-spacing;
    }

    time {
      background-color: $white;
      border: $small-spacing solid #00a1bb;
      border-top: 0;
      color: #00a1bb;
      display: block;
      font-size: rem(20);
      line-height: 1;
      padding: .75 * $small-spacing $small-spacing;

      span {
        display: block;
        font-size: rem(62);
        line-height: 1;
      }
    }
  }
}

.government-links {
  @include outer-container;

  .federal-government {
    @include media($tablet) {
      @include span-columns(4 of 12);
    }
  }

  .state-government {
    @include media($tablet) {
      @include span-columns(8 of 12);
    }
  }
}

.federal-government ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: $base-spacing;

  li {
    margin-bottom: 2rem;

    a {
      font-size: rem(36);
      font-weight: 700;
      color: $light-teal;
    }

    span {
      display: block;
      font-size: rem(56);
      line-height: 1.5;
    }
  }
}

.state-government {
  ul {
    margin-top: $base-spacing;

    li {
      border-top: 0;

      &.nsw:before,
      &.vic:before,
      &.qld:before,
      &.sa:before,
      &.wa:before,
      &.tas:before,
      &.nt:before,
      &.act:before {
        background-repeat: no-repeat;
        background-size: contain;
        content: ' ';
        top: 0;
        display: block;
        height: 60px;
        left: 0;
        position: relative;
        width: 60px;
      }

      &.nsw:before {
        background-image: asset-url('home/nsw.png');
      }

      &.vic:before {
        background-image: asset-url('home/vic.png');
      }

      &.qld:before {
        background-image: asset-url('home/qld.png');
      }

      &.sa:before {
        background-image: asset-url('home/sa.png');
      }

      &.wa:before {
        background-image: asset-url('home/wa.png');
      }

      &.tas:before {
        background-image: asset-url('home/tas.png');
      }

      &.nt:before {
        background-image: asset-url('home/nt.png');
      }

      &.act:before {
        background-image: asset-url('home/act.png');
      }

      .state-title {
        margin-bottom: 0;
        min-height: 0;
        margin-top: $small-spacing;
      }
    }
  }

  .local-government-directory {
    list-style-type: none;
    padding-left: 0;
  }
}

.ie7, .ie8, .ie9 {
  .govau--logo.home {
    height: 79px;
    width: 65px;
  }
  .govau--text {
    display: block;
    background: asset-url('icons/logo-gov-au.png');
    background-image: none, asset-url('icons/logo-gov-au-2x.png'),
    linear-gradient(transparent, transparent);

  }
  
  .list-vertical--thirds li,
  .state-government li {
    display: inline-block;
    width: 30%;
  }
  .list-vertical--fourths li {
    display: inline-block;
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .home-news-list .list-vertical--fourths {
    h3 {
      height: 130px;
    }
  }
  .links-group {
    min-height: 100px;
  }
  .links-group li {
    display: inline-block;
    width: 15%;
  }
  .about-australia div {
    display: inline-block;


    &.population {
      width: 55%;
      height: 450px;
      .population-infographic {
        padding-top: 125px;
        width: 75%;
      }
      li {
        display: inline-block;
      }
    }
    &.public-holiday {
      width: 30%;
      float:right;
    }
  }
  .government-links {
    div {
      display: inline-block;


    }
    .federal-government {
      width: 25%;
      float: left;
      margin-right: 10px;
    }
    .state-government {
      width: 70%;
    }
  }
}