.highlighted {
  background: $focus-colour;
  box-decoration-break: clone;
  box-shadow: .75 * $tiny-spacing 0 0 $focus-colour, -.75 * $tiny-spacing 0 0 $focus-colour;
  display: inline;
}

.list-horizontal {

  > li {

    .offset-title {

      @include media($tablet) {
        flex: 0 0 35%;
        margin-right: $base-spacing;
      }

      h2,
      h3,
      h4 {
        font-size: rem(26);
        font-weight: $base-font-weight;

        @include media($tablet) {
          font-size: rem(36);
        }

        span {
          display: block;
          font-size: rem(17);
          font-weight: $heading-font-weight;
        }
      }

      + article ul,
      + div ul {
        list-style: none;
        margin-top: 0;
        padding-left: 0;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    &.offset-item {
      border-top: 0;
      border-bottom: solid 1px $border-colour;
      padding-left: 0;
      padding-right: $base-spacing;

      &:last-child {
        border-bottom: solid 1px $border-colour;
        border-top: 0;
      }

      &:first-child {
        border-top: solid 1px $border-colour;
      }

      .number-descriptor {
        @include outer-container;

        li {
          @include media($mobile) {
            @include span-columns(3 of 6);
            @include omega(2n);
          }

          h5 {
            font-size: rem(16);
          }
        }
      }
    }

    &.highlighted-item {
      background-color: $callout-bg-light-colour;
      padding-left: $base-spacing;

      .offset-title h2,
      .offset-title h3,
      .offset-title h4 {
        font-size: rem(70);
      }
    }
  }
}
