@import "neat";
@import "bourbon";

header.navigation {
  $large-screen: 53.75em !default;
  $horizontal-bar-mode: $large-screen;

  ul {
    clear: both;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;

    &.show {
      display: block;
    }

    @include media($horizontal-bar-mode){
      display: inline;
    }
  }

  ul li {
    display: block;
    overflow: hidden;

    @include media($horizontal-bar-mode){
      display: inline;
      text-decoration: none;
      width: auto;
    }

    a {
      display: inline-block;
      text-decoration: none;

      @include media($horizontal-bar-mode){
        margin-right: 1em;
      }
    }
  }

  nav {
    float: none;

    @include media($horizontal-bar-mode){
      float: left;
    }
  }

  .navigation-tools {
    @include media($horizontal-bar-mode){
      float: right;
    }


  }

}
