<article id="content" class="content-main">
<% breadcrumb :category, 'Infrastructure and telecommunications' %>
<% # n.b. All the below ripped from prototype %>

<header><h1>Infrastructure and telecommunications</h1></header>

<p class="abstract">Australian Government information and services related to
  infrastructure and telecommunications.</p>

<h2>Infrastructure</h2>

<h4>Regional development</h4>
<ul>
<li><a href="javascript:void(0)">Work as a doctor</a></li>
<li><a href="javascript:void(0)">Urban &amp; regional development</a></li>
<li><a href="javascript:void(0)">National capital</a></li>
</ul>

<h4>Aviation</h4>
<ul>
<li><a href="javascript:void(0)">Aviation safety &amp; security</a></li>
<li><a href="javascript:void(0)">Aviation performance and statistics</a></li>
<li><a href="javascript:void(0)">Airport planning &amp; regulation</a></li>
</ul>

<h4>Road</h4>
<ul>
<li><a href="javascript:void(0)">Road transport programs</a></li>
<li><a href="javascript:void(0)">Road transport industry</a></li>
<li><a href="javascript:void(0)">Road safety</a></li>
<li><a href="javascript:void(0)">Vehicles</a></li>
<li><a href="javascript:void(0)">Trucks</a></li>
<li><a href="javascript:void(0)">Freight and logistics</a></li>
</ul>

<h4>Rail</h4>
<ul>
<li><a href="javascript:void(0)">Rail transport programs</a></li>
</ul>

<h4>Maritime</h4>
<ul>

<li><a href="javascript:void(0)">Maritime safety</a></li>
<li><a href="javascript:void(0)">Transport security</a></li>
</ul>

<h4>Transport safety</h4>
<ul>
<li><a href="javascript:void(0)">Transport safety</a></li>
</ul>

<h2>Telecommunications</h2>

<h4>Television and radio</h4>
<ul>
<li><a href="/tv-reception">Television reception</a></li>
<li><a href="javascript:void(0)">Digital Television</a></li>
<li><a href="javascript:void(0)">Digital Radio</a></li>
<li><a href="javascript:void(0)">Television content rules</a></li>
</ul>

<h4>Internet</h4>
<ul>
<li><a href="javascript:void(0)">Internet speeds</a></li>
<li><a href="javascript:void(0)">Internet safety</a></li>
<li><a href="javascript:void(0)">National broadband network</a></li>
</ul>

<h4>Phone</h4>
<ul>
<li><a href="javascript:void(0)">Mobile phone black spots</a></li>
<li><a href="javascript:void(0)">Accessible phone services</a></li>

</ul>
</article>
