
-# Normal/Page header
-# This is a collection of elements that is used in the header of most pages.


-# Normal masthead used globally
= render 'header_part_masthead'

-# breadcrumbs
%nav.breadcrumbs--inverted{'aria-label' => 'breadcrumb'}
  = breadcrumbs style: :ul, class: nil
