-# locals: nodes, depth, active

- if nodes
  - nodes.each do |node|
    %li
      - klass = 'is-active' if node == active
      %a{ href: nodes_path(node.path), class: klass }
        = node.name
      - if depth > 1
        %ul
          = render partial: 'navbar_part', locals: { nodes: node.children.published, depth: depth - 1, active: active }
