-# locals: nodes, depth, active_chain

- if nodes
  - nodes.reject{|n| n.options.suppress_in_nav}.each do |node|
    %li
      - klass = menu_node_class(node, active_chain)

      - if node.options.placeholder
        %a{ href: "javascript:return(0)", class: klass }
          %span.placeholder-link= node.name
      - else
        %a{ href: public_node_path(node), class: klass }
          = node.name

      - if depth > 1 && node.children.published.present?
        %ul
          = render partial: 'navbar_part', locals: { nodes: node.children.published, depth: depth - 1, active_chain: active_chain }
