-# locals: menu_nodes, active

%aside.sidebar
  %nav.local-nav{'aria-label' => 'main navigation'}
    %h1.is-visuallyhidden
      Menu
    -if menu_nodes.present?
      %ul
        %li
          %a.is-active{href: public_node_path(@section.home_node)}
            = @section.name
          %ul
            = render partial: 'navbar_part', locals: { nodes: menu_nodes, depth: 3, active: active }
