%div.user-session
  - if user_signed_in?
    %span.current-user.email= current_user.email
    = link_to('Sign out', destroy_user_session_path, :method => :delete)
  - else
    = link_to('Sign in', new_user_session_path)

