
<div class="user-session">
  <%- if user_signed_in? %>
    <span class="current-user email"><%= current_user.email %></span>
    <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
  <% else %>
    <%= link_to('Sign in', new_user_session_path)  %>
  <% end %>
</div>
  
