-if @toolbar_info[:visible]
  #toolbar
    -if @node
      =link_to 'Edit this page', edit_editorial_node_path(@node)
      =link_to 'New page here', prepare_editorial_nodes_path(parent: @node.id)
    -else
      =link_to 'New page here', prepare_editorial_nodes_path(section: @section.id)
    =link_to 'Editorial dashboard', editorial_section_path(section: @section.slug)

  -if user_signed_in?
    - unless current_user.roles.collect(&:resource).include? @section
      - if open_request(current_user, @section).nil?
        =link_to 'Request membership', new_editorial_request_path(section: @section.id)
      - else
        =link_to 'Membership requested', editorial_request_path(open_request(current_user, @section))
