- breadcrumb :ministers

%article.content-listing
  %h1
    Cabinet Ministers
  %ul.list-highlighted
    - ministers.each do |minister|
      %li
        %a{href: public_node_path(minister.home_node)}
          -if minister.prefix.present?
            %span
              = minister.prefix
          = minister.ministry_or_title
