- breadcrumb :ministers

= content_for :title do
  Cabinet Ministers

= content_for :after_header do
  .hero-med.corporate
    .wrapper
      %h1
        Cabinet Ministers

%article.content-listing
  %ul.list-highlighted
    - ministers.each do |minister|
      %li
        %a{href: public_node_path(minister.home_node)}
          -if minister.prefix.present?
            %span
              = minister.prefix
          = minister.ministry_or_title
