
%article#content.content-main.form_wrapper{tabindex: -1}
  %h1 Your feedback
  Help us improve GOV.AU by telling us what you think.
  = simple_form_for(@form, url: feedback_path) do |f|
    = f.input :comment, as: :text
    = f.hidden_field :url
    = f.button :submit, 'Send feedback', role: 'button'
