= inside_layout 'editorial' do
  = content_for :toolbar_actions do

    - if @node
      - if can?(:update, @node)
        =link_to 'Edit', new_editorial_node_submission_path(@node)
      - if can?(:create_in, @section)
        =link_to 'New page', prepare_editorial_nodes_path(parent_id: @node)
    -elsif @section && can?(:create_in, @section)
      =link_to 'New page', prepare_editorial_nodes_path(section: @section.id)

  = yield
